.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 480px;
    background-color: #fff;
    margin: 0px 50px 30px 50px;
    padding: 22px;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 5px;
}

.item img {
    width: 300px;
    margin-bottom: 15px;
}

.item h2 {
    margin-bottom: 15px;
    cursor: pointer;
}
.item h2:hover {
    color:rgba(0, 0, 0, 0.8);
}

.item h3 {
    margin-bottom: 10px;
}

.item:hover {
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.item span {
    color: rgba(0, 0, 0, 0.8);
}

.block {
    display: flex;
    justify-content: space-between;
}

.floatRigth {
    display: flex;
    justify-content: end;
    cursor: pointer;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    align-self: flex-end;
}

.inputNumber {
	display: inline-block;
	position: relative;
	width: 90px;
}
.inputNumber input[type="number"] {
	display: block;
	height: 30px;
	line-height: 30px;
    border: 1px solid darkolivegreen;
    border-radius: 2px;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
.inputNumber input[type="number"]::-webkit-outer-spin-button,
.inputNumber input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
.numberMinus {
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	width: 20px;
	padding: 0;
	display: block;
	text-align: center;
	border: none;
	border-right: 1px solid #ddd;
	font-size: 16px;
	font-weight: 500;
}
.numberPlus {
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	width: 20px;
	padding: 0;
	display: block;
	text-align: center;
	border: none;
	border-left: 1px solid #ddd;
	font-size: 16px;
	font-weight: 500;
}


.active * {
    display: flex;
    justify-content: end;
    fill: tomato;
}