.categories {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.categories li {
    text-decoration: none;
    list-style-type: none;
    color: white;
    background-color: darkolivegreen;
    margin: 3px;
    padding: 12px;
    width: 200px;
    cursor: pointer;
    border-radius: 3px;
}

.categories .active {
    background-color: #7d8c62;
}