header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}

header nav a {
    text-decoration: none;
    color: black;
    padding: 0 15px;
}

.goods {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    padding: 10px;
}

@media (max-width: 800px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    
}

@media (max-width: 460px) {
    .goods {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 130px;
        padding: 10px;
    }
}