@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Source+Code+Pro:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #243011;
  background-image: url('https://celes.club/uploads/posts/2022-09/1662424745_3-celes-club-p-chainii-list-oboi-3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.button {
  background: transparent;
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  color:darkolivegreen;
  border: 1px solid darkolivegreen;
  padding: 2px 7px;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
}

.button[disabled] {
  opacity: 0.5;
}

.button-done {
  background-color: #c5ceb6;
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  color:darkolivegreen;
  border: 1px solid darkolivegreen;
  padding: 2px 7px;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
}

.sort-category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 100px;
  background-color: white;
}

.block {
  margin: 0 auto;
  width: 1150px;
  height: 730px;
  background-color: #a4b08f;
}

.block img {
  z-index: 10;
  margin: 20px;
  position: relative;
  left: -100px;
  top: 20px;
  
}