.sort {
    display: flex;
    justify-content: end;
    font-weight: bold;
    position: relative;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 70vw;
}

.sort span {
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
}

.sort ul {
    list-style-type: none;
    position: relative;
    overflow: hidden;
}

.sort ul li {
   padding: 5px;
}
.sort .active {
    color:  #585858;
}

.sort .popup {
    position: absolute;
    right: 0;
    margin-top: 12px;
    overflow: hidden;
    padding: 10px 0;
    background-color: white;
    border-radius: 4px;

}

.label {
    margin-left: 70px;
    
}

@media (max-width: 800px) {
    .sort {
        display: flex;
        justify-content: center;
        margin:  20px 0 30px 0;
    }
}